# Database Connection
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/pokedex

# Database Credentials (for Docker)
DB_HOST=db
DB_PORT=5432
DB_NAME=pokedex
DB_USER=postgres
DB_PASSWORD=postgres

# Educational Settings
SQL_ECHO=True

# Flask Settings
FLASK_APP=src/app.py
FLASK_DEBUG=1
